body{
    background-size: cover;
}
#status,#number_of_objects,#start{
font-size: 18px;
}
.heading{
    margin-top: 0px;
    width: 100%;
    font-size: 23px;
}
#copy_right_footer{
    position: fixed;
    bottom: 0;
    line-height: 3;
    margin: 0;
    width: 100%;
    color: cyan;
    background-color: red;
}
canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px yellow;
    border: 3px solid lime;
}
